body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:black;
}

.calculator{
    width:250px;
    background:white;
    padding:20px;
    border-radius:10px;
}

button{
    width:50px;
    height:50px;
    margin:5px;
}

#result{
    width:220px;
    height:40px;
    margin-bottom:10px;
}